@import url("https://fonts.googleapis.com/css?family=Inter:700|Inter:400");

:root {
  --text: #030a07;
  --background: #f5fcf9;
  --primary: #41c28b;
  --secondary: #94d5dc;
  --accent: #68b7ce;
}
/* Universal Text Color */
* {
  color: var(--text);
}

/* Highlighted Text Selection Style */
::selection {
  background-color: var(--accent);
}

/* Body Styling */
body {
  font-family: "Inter";
  font-weight: 400;
  background-color: var(--background);
  padding: 0;
  margin: 0; /* Page margin */
}

.margin {
  margin: 0 30px;
}

/* Default Font Size */
html {
  font-size: 100%; /* 1rem = 16px */
}

/* Header Styling */
h1,
h2,
h3,
h4,
h5 {
  font-family: "Inter";
  font-weight: 700;
}

h1 {
  font-size: 4.2rem;
  margin: 0px; /* Large main heading */
}
h2 {
  font-size: 3.2rem;
  margin: 0px;
}
h3 {
  font-size: 2.4rem;
  margin: 0px;
}
h4 {
  font-size: 1.7rem;
  margin: 0px;
}
h5 {
  font-size: 1.3rem;
  margin: 0px;
}
small {
  font-size: 0.75rem; /* Smaller font size */
}

/* Desktop Navigation Bar */
.nav {
  background-color: var(--primary);
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100px;
}

/* Link Style */
.nav-link {
  display: block;
}

a {
  text-decoration: none;
}

#dropdown {
  background-color: var(--primary);
  border: none;
  width: 20px;
}

.project-dropdown {
  display: flex;
}

select {
  padding: 4px;
  font-size: 18px;
  border-radius: 10%;
}

option:hover {
  background-color: var(--secondary);
}

/* Team Section Grid */
.student-cards {
  display: grid;
  justify-content: space-around;
  row-gap: 80px;
  column-gap: 10px;
  grid-template-areas:
    "card-1 card-2";
}

.card {
  max-width: 25em;
  border: 5px solid var(--primary);
  border-radius: 1em;
  letter-spacing: 1px;
  box-shadow: 0 4px var(--primary);
}

.card img {
  max-width: 100%;
  border-radius: 0.9em 0.9em 0 0;
  border-bottom: 2px solid var(--secondary);
}

.card-body {
  padding: 0 1em 1em;
}

.horizontal-card {
  display: flex;
  justify-content: center;
}

.horizontal-card .horizontal-card-body {
  display: flex;
  max-width: 50em;
  border: 5px solid var(--primary);
  border-radius: 1em;
  letter-spacing: 1px;
  box-shadow: 0 4px var(--primary);
  padding: 0 1em;
}

.horizontal-card img {
  max-width: 100%;
  border-radius: 0 0.9em 0.9em 0;
  border-left: 2px solid var(--secondary);
}

footer {
  padding: 1% 0 0 1%;
  height: 100px;
  width: 99%;
  background-color: var(--primary);
}

footer a {
  color: var(--background);
}

@media (max-width:1023px) {
  .card {
    max-width: 20em;
  }

  h1 {
    font-size: 3.5em;
  }

  h2 {
    font-size: 2.7em;
  }

  h3 {
    font-size: 2em;
  }

  h4 {
    font-size: 1.4em;
  }

  .horizontal-card .horizontal-card-body {
    max-width: 35em;
  }
}